<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180150681697-ao9oq2i3hf7g9et1k6gr7v6gg60es5fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180150681697-ao9oq2i3hf7g9et1k6gr7v6gg60es5fo</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ754zPHomPd1p34uUQHcUe-M2MH3CPqE</string>
	<key>GCM_SENDER_ID</key>
	<string>180150681697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lluudev.bufskit</string>
	<key>PROJECT_ID</key>
	<string>bufskit-b2f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>bufskit-b2f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180150681697:ios:d3f8dfbffb33375f106a20</string>
</dict>
</plist>